body {background-color:black;color:white;font-size:12px;line-height:auto;word-wrap:break-word}

.container {max-width:800px;margin:auto;}
.text {background:#222;width:100%;}
.head {background:#555;width:100%;text-align:center}
.foot {background:#000;font-size:10px!important;}

IMG {max-width:99%}

a {color:white}
a:hover {background:white;color:black!important}
::selection {background:#8a775e;color:#FFF;}

[id]:target {background:#111;color:gold}